pika
pillow
wand
python-magic
rawpy
numpy
imageio
pydub
audioop-lts
pypandoc
python-docx
reportlab
fpdf
PyPDF2
pdf2image
pytesseract
ebooklib
pdf2docx
beautifulsoup4
PyMuPDF
htmldocx
html2docx
pdf2docx
pikepdf
pdfplumber